
body {
	background-color: black;
	background-image: url("../images/blackorchid.png");
	background-repeat: repeat;
	/*background-position: center center;*/
	/*background-attachment: fixed;*/
	background-color: black;
	/*padding-bottom: 15rem;*/
}

.jumbotron {
	background-image: url("../images/typewriter.png");
	background-repeat: no-repeat;
	background-position: center center;
	/*background-attachment: fixed;*/
	background-color: transparent;
	/*padding-bottom: 15rem;*/
	height: 620px;
	padding: 0rem;
	position: relative;
	z-index: 0;
}

#masthead {
	position: relative;
	top: 5rem;
	z-index: 5;
	font-family: 'Special Elite', cursive;
}

.card {
	background-color: rgba(0, 0, 0, 0.4);
 	box-shadow: 0px 0px 8px black;
	border: #222222 1.5px solid;
	border-radius: 0px;	
	margin: 0rem auto 2rem auto;
}

.card-title {
	color: white;
	font-family: 'Special Elite', cursive;
}

hr {
	border-color: #333333;
}
.card-text {
	color: #999999;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.25rem;
}

#saveButton {
	border-radius: 0px;
}

.btn {
	border-radius: 0px;
}

#footer {
	margin-top: 15rem;
	text-align: center;
}

.credit {
	text-align: center;
}